{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <style>
      body {
        background-image: url("{% static 'images/background.png' %}");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid d-flex">
      <div class="row col-12 alert alert-dark mt-5">
        {% for producto in form %}
        <div class="col-1">
          <h4 class="mb-4">{{ producto.nombre }}</h4>
        </div>
        <div class="col-1">
          <strong><p>Precio: ${{ producto.precio }}</p></strong>
        </div>
        <div class="col-1">
          <strong>
            <p>Descripción: {{ producto.descripcion }}</p>
          </strong>
        </div>
        <div class="col-9 text-end">
          <img
            src="{{ producto.imagen.url }}"
            alt="{{ producto.nombre }}"
            class="img-fluid rounded col-2 shadow-lg rounded"
          />
        </div>
        <div class="row justify-content-start">{% endfor %}</div>
      </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
