
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferrelectricos Ferta</title>
</head>
<body>
    <h1>¡Bienvenido!</h1>
    <br>
    <label>¡Inicia sesión si ya te has registrado!</label>
    <br>
    <br>
    <div class="form-group last mb-4">
        <div>
            <button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'login_view' %}">Iniciar sesión</a></button>
        </div>
    </div>
    <br>
    <br>
    <label>¡Si no te has registrado, hazlo aquí!</label>
    <br>
    <br>
    <div class="form-group last mb-4">
        <div>
            <button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'register' %}">Registrarse</a></button>
        </div>
        <br>
    <br>
</body>
</html>
