<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferrelectricos Ferta</title>
</head>
<body>

<span class="mb-0 text-muted">
  {% if msg %}
    {{ msg | safe }}
  {% else %}
    Login 
  {% endif %}
</span>
<br>
<br>
<form method="post">
  {% csrf_token %}
  <div class="form-group first">
    <label for="username">Usuario</label>
    {{ form.username }}
    {% if form.username.errors %}
      <span class="text-error">{{ form.username.errors }}</span>
    {% endif %}
  </div>
  <br>
  <div class="form-group last mb-4">
    <label for="password">Contraseña</label>
    {{ form.password }}
    {% if form.password.errors %}
      <span class="text-error">{{ form.password.errors }}</span>
    {% endif %}
  </div>
  <br>
  <div class="d-flex mb-5 align-items-center">
    <span class="ml-auto"><a href="#" class="forgot-pass">¿Olvidó su Contraseña?</a></span>
    <br>
    <br>
    </label>
    <label class="control control--checkbox mb-0"><span class="caption">Recuerdame</span>
      <input type="checkbox" checked="checked"/>
      <div class="control__indicator"></div>
    </label>
  </div>
  <br>
  <input type="submit" value="Acceder" class="btn btn-pill text-white btn-block btn-primary">
</form>
</body>
</html>
