{% extends "base.html" %} {% block content %}
<body>
  <div class="h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-lg text-center">
      <div class="">
        <h2 class="p-3">Cargar Producto</h2>
        <form method="post" enctype="multipart/form-data">
          <div class="pb-4">
            {% csrf_token %} {{ form.nombre.label_tag }} {{ form.nombre }}
            <br />
            {{ form.categoria.label_tag }} {{ form.categoria }}
            <a class="btn btn-success" href="{% url 'crear_categoria' %}">Crear</a>
            <br />
            {{ form.precio.label_tag }} {{ form.precio }}

            <br />
            {{ form.precio_2.label_tag }} {{ form.precio_2 }}
            <br />
            {{ form.precio_3.label_tag }} {{ form.precio_3 }}
            <br />
            {{ form.existencias.label_tag }} {{ form.existencias }}
            <br />
            {{ form.descripcion.label_tag }} {{ form.descripcion }}
            <br />
            {{ form.imagen.label_tag }} {{ form.imagen }}
            <br />
          </div>

          <button type="submit" class="btn btn-blue">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
