{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/components/button.css' %}" />
    {% tailwind_css %}
    <style>
      body {
        background-image: url("{% static 'images/background1.png' %}");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <div class="h-screen flex items-center justify-center">
      <div class="bg-white p-8 rounded shadow-lg text-center">
        <div class="">
          <h2 class="p-3">Cargar Producto</h2>
          <form method="post" enctype="multipart/form-data">
            <div class="pb-4">
              {% csrf_token %} {{ form.nombre.label_tag }} {{ form.nombre }}
              <br />
              {{ form.categoria.label_tag }} {{ form.categoria }}
              <a class="btn btn-success" href="{% url 'crear_categoria' %}"
                >Crear</a
              >
              <br />
              {{ form.precio.label_tag }} {{ form.precio }}

              <br />
              {{ form.precio_2.label_tag }} {{ form.precio_2 }}
              <br />
              {{ form.precio_3.label_tag }} {{ form.precio_3 }}
              <br />
              {{ form.existencias.label_tag }} {{ form.existencias }}
              <br />
              {{ form.descripcion.label_tag }} {{ form.descripcion }}
              <br />
              {{ form.imagen.label_tag }} {{ form.imagen }}
              <br />
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        </div>
      </div>
    </div>
  </body>
</html>
