{% extends "base2.html" %} {% block title %}
<title>Index</title>
{% endblock %} {% block content %} {% if no_categorias == False %}
<div class="container grid grid-cols-1 gap-4 w-full">
  <div class="w-full border border-gray-300 rounded-lg shadow flex flex-col bg-gray-100 border-b mb-4">
    <div class="flex overflow-x-auto">
      {% for producto in filtro1 %}
      <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="w-20 h-20 rounded" />
      <br />
      <label>{{ producto.nombre }}</label>
      <br />
      <label>{{ producto.precio }}</label>
      <br />
      <label>{{ producto.descripcion }}</label>
      <br />
      {% if producto.existencias > 0 %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#00FF0F" class="w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd"
        />
      </svg>
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FF0000" class="w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
      {% endif %}
      <br />
      {% endfor %}
    </div>
  </div>
</div>

<div class="container grid grid-cols-1 gap-4 w-full">
  <div class="w-full border border-gray-300 rounded-lg shadow flex flex-col bg-gray-100 border-b mb-4">
    <div class="flex overflow-x-auto">
      {% for producto in filtro2 %}
      <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="w-20 h-20 rounded" />
      <br />
      <label>{{ producto.nombre }}</label>
      <br />
      <label>{{ producto.precio }}</label>
      <br />
      <label>{{ producto.descripcion }}</label>
      <br />
      {% if producto.existencias > 0 %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#00FF0F" class="w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd"
        />
      </svg>
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FF0000" class="w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
      {% endif %}
      <br />
      {% endfor %}
    </div>
  </div>
</div>

<div class="container grid grid-cols-1 gap-4 w-full">
  <div class="w-full border border-gray-300 rounded-lg shadow flex flex-col bg-gray-100 border-b mb-4">
    <div class="flex overflow-x-auto">
      {% for producto in filtro3 %}
      <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="w-20 h-20 rounded" />
      <br />
      <label>{{ producto.nombre }}</label>
      <br />
      <label>{{ producto.precio }}</label>
      <br />
      <label>{{ producto.descripcion }}</label>
      <br />
      {% if producto.existencias > 0 %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#00FF0F" class="w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
          clip-rule="evenodd"
        />
      </svg>
      {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#FF0000" class="w-10 h-10">
        <path
          fill-rule="evenodd"
          d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
      {% endif %}
      <br />
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<h1>No hay suficientes categorias para mostrar, el minimo son 3</h1>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
{% endblock %}
